html {
    background-color: black;
  }
  
  #Title {
    color: darkred;
    background-color: #262626;
    font-family: fantasy;
    font-size: 6rem;
    text-align: center;
    text-decoration: underline;
    text-decoration: bold;
    border: 1rem solid #262626;
  }

  nav {
    background-color: #afccfa;
    color: black;
    display: inline-block;
    font-size: 18px;


  }
  
  #Intro {
    background-color: black;
    text-align: center;
    margin-top: 5rem;
  }
  
  body {
    background: black;
    color: white;
  }
  
  .cover-art {
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;

  }
  .games { 
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 5em;
    

  }
  .games img {
    display: block;
    margin: auto;
  }
  .banner {
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
  }

  .rating {
    margin-top: 2.5rem;
  }

  .criteria {
    font-size: 30px;
    background-color: 424242;
    color: rgb(63, 121, 45);
    font-family: fantasy;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    
  }
  
  h2 {
    text-align: center;
    text-decoration: bold;
    text-decoration: underline;
    font-size: 30px;
  }
  
  p {
    text-align: center;
    font-size: 21px;
    margin: 1.5rem;
  }

  a {
    display: block;
  }
  .crit-area {
    text-align: center;
    margin-top: 2rem;
  }

  .game-title {
    font-size: 21px;
    color: antiquewhite;
  }

  .review {
    margin-right: 10em;
    margin-left: 10em;
    margin-top: 3em;
    margin-bottom: 10em;
  }

  .intro {
    font-size: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }  

  .scale {
    margin-top: 2rem;
    font-size: 2.25rem;
  }

footer {
  background-color: #262626;
  width: 100%;
  height: 7rem;
}